.thirdHomeSection{
    background-color: rgb(253, 249, 249);
    margin-top: 3em;
    display: flex;
    align-items: center;
}

.thirdHomeSectionContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4em 7em;
}

.leftContainer > img{
    width: 35em;
    height: 20em;
    margin-right: 3em;
    border-radius: 10px;
}

.rightContainer > p{
    line-height: 1.5em;
    font-weight: 400;
}


.rightContainer > p > span{
    font-weight: bold;
}

button{
    border: none;
    background-color: rgb(199, 12, 12);
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    width: 80%;
    cursor: pointer;
    margin-top: 2em;
}