.fourthHomeComponent{
    background-color: white;
    display: flex;
    align-items: center;
    margin-top: 3em;
}

.leftFourthHomeComponent{
    margin-left: 5em;
    text-align: justify;
    margin-right: 3em;
}

.leftFourthHomeComponent > p{
    font-size: 16px;
}

.leftFourthHomeComponent > p > span{
    font-weight: bold;
}

.rightFourthHomeComponent > img{
    width: 35em;
    height: 20em;
    margin-right: 5em;
    border-radius: 10px;
}